.login{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.title{
	color: var(--white-color);
	padding: 20px 0px;
}
.form{
	display: flex;
	align-items: center;
	flex-direction: column;
	max-width: 500px;
	width: 100vw;
	gap: 10px;
	padding: 50px;
	border-radius: 10px;
	background-color: var(--white-color);
}
.account{
	display: flex;
	align-items: center;
	gap: 10px;
}
.register{
	font-weight: bold;
	text-decoration: none;
	color: var(--primary-color);
}
.email{
	display: flex;
	align-items: center;
	width: 100%;
	height: 56px;
	border-radius: 32px;
	border: 1px solid var(--input-border-color);
	background-color: transparent;
}
.password{
	display: flex;
	align-items: center;
	width: 100%;
	height: 56px;
	border-radius: 32px;
	border: 1px solid var(--input-border-color);
	background-color: transparent;
}
.password-eye{
	cursor: pointer;
	margin-right: 10px;
}
.field{
	width: 25px;
	margin: 0px 10px 0px 10px;
	color: var(--text-secondary-color);
}
.submit{
	width: 100%;
	height: 56px;
	margin-top: 30px;
	font-size: 16px;
	cursor: pointer;
	background-color: var(--primary-color);
	color: var(--white-color);
	border: none;
	border-radius: 32px;
}
.google{
	width: 100%;
	height: 56px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	font-size: 16px;
	cursor: pointer;
	background-color: #FF5842;
	color: var(--white-color);
	border: none;
	border-radius: 32px;
}
.form .password input, .email input{
	width: 100%;
	height: 100%;
	font-size: 18px;
	border: none;
	outline: none;
	background-color: transparent;
}
.form input::placeholder{
	color: var(--text-color);
}
