.category{
    /* text-align: center; */
    padding: 5px 0px 20px 0px;
}
.category-product{
    display: flex;
    justify-content: center;
    gap: 25px;
}
.category-link{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 100px;
    height: 100px;
    background-color: gray;
    border-radius: 50%;
    color: var(--text-secondary-color);
    background-color: var(--primary-hover-color);
    text-decoration: none;
}