.category{
    padding: 50px 120px;
}
.category h1{
    padding: 35px 0px;
    font-size: 40px;
}
.category-product{
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0px;
}
.category-link{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 100px;
    height: 100px;
    background-color: gray;
    border-radius: 50%;
    color: var(--text-secondary-color);
    background-color: var(--primary-hover-color);
    text-decoration: none;
}