.category-card{
    padding: 40px 120px;
}
.category-card-navigate{
    display: flex;
    padding-bottom: 72px;
}
.category-card-navigate a{
    text-decoration: none;
    color: var(--text-color);
}
.category-card-info{
    display: flex;
    flex-direction: column;
}
.category-card-info img{
    max-width: 700px;
    width: 100%;
    border-radius: 7px;
}
.category-card-info h2{
    font-size: 40px;
}
.category-card-info hr{
    margin: 40px 0px;
}
.category-card-info-header{
    display: flex;
    justify-content: space-between;
}
.category-card-info-header-social{
    display: flex;
    gap: 25px;
}
.category-card-product{
    display: flex;
    justify-content: space-between;
}
.category-card-product li{
    list-style: disc;
    font-size: 18px;
}
.category-card-ingredients{
    list-style-type: disc;
    background-color: var(--white-color);
    padding: 24px;
}
.category-card-time{
    display: flex;
    font-size: 18px;
    padding: 10px 20%;
    text-align: center;
}
.category-card-time-list{
    display: flex;
    align-items: center;
}
.category-card-time ul li h4{
    color: var(--text-color);
    padding: 10px 0px;
}
.category-card-time hr{
    transform: rotate(90deg);
    width: 50px;
}
.category-card-instructions{
    padding: 20px 0px;
}
.category-card-instructions ol li{
    list-style: circle;
    padding: 5px 0px;
}