.category-card{
    padding: 40px 120px;
}
.category-card-navigate{
    display: flex;
    padding-bottom: 72px;
}
.category-card-navigate a{
    text-decoration: none;
    color: var(--text-color);
}
.category-card-info{
    display: flex;
    flex-direction: column;
}
.category-card-info img{
    max-width: 700px;
    width: 100%;
    border-radius: 7px;
}
.category-card-info h2{
    font-size: 40px;
}
.category-card-info hr{
    margin: 40px 0px;
}
.category-card-info-header{
    display: flex;
    justify-content: space-between;
}
.category-card-info-header-social{
    display: flex;
    gap: 25px;
}
.category-card-product{
    display: flex;
    gap: 40px;
    justify-content: space-between;
}
.category-card-product li{
    list-style: disc;
    font-size: 18px;
}
.category-card-ingredients{
    max-width: 700px;
    list-style-type: disc;
    background-color: var(--white-color);
    padding: 24px;
}
.category-card-time{
    display: flex;
    font-size: 18px;
    padding: 10px 20%;
    text-align: center;
}
.category-card-time-list{
    display: flex;
    align-items: center;
}
.category-card-time ul li h4{
    color: var(--text-color);
    padding: 10px 0px;
}
.category-card-time hr{
    transform: rotate(90deg);
    width: 50px;
}
.category-card-instructions{
    padding: 20px 0px;
}
.category-card-instructions ol li{
    list-style: circle;
    padding: 5px 0px;
}
@media (max-width: 1075px){
    .category-card{
        padding: 20px;
    }
    .category-card-product{
        gap: 20px;
    }
    .category-card-ingredients h2{
        font-size: 30px;
    }
    .category-card-product li{
        font-size: 16px;
    }
}
@media (max-width: 875px){
    .category-card-navigate{
        padding: 100px 0px 50px;
    }
    .category-card-info-header h2{
        font-size: 30px;
    }
    .category-card-product{
        flex-direction: column;
        align-items: center;
    }
    .category-card-ingredients{
        width: 100%;
    }
    .category-card-time{
        justify-content: center;
    }
    .category-card-info h2{
        font-size: 30px;
        text-align: center;
    }
}
@media (max-width: 450px){
    .category-card-info-header{
        justify-content: center;
        align-items: center;
        gap: 20px;
        flex-direction: column;
    }
    .category-card-time{
        padding: 0px;
    }
    .category-card-time-list hr{
        display: none;
    }
    .category-card-time-list{
        gap: 10px;
        flex-wrap: wrap;
    }
}