.profile{
	padding: 30px 0px;
}
.profile hr{
	max-width: 850px;
	width: 100%;
	margin: 20px 0px;
}
.profile-navigate{
	display: flex;
	align-items: center;
	padding: 40px 120px;
}
.profile-navigate a{
	color: var(--text-color);
	text-decoration: none;
}
.profile-info{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.profile-user{
	position: relative;
}
.profile-form{
	display: grid;
	grid-template-columns: repeat(2, 395px);
	justify-content: center;
	gap: 32px;
	max-width: 850px;
	width: 100%;
	padding: 20px 0px;
}
.profile-input{
	display: flex;
	align-items: center;
	border-bottom: 3px solid var(--input-border-color);
}
.profile-input img{
	width: 24px;
}
.profile-title{
	max-width: 395px;
	width: 100%;
	height: 58px;
	padding: 16px;
}
.user{
	width: 100px;
	border-radius: 50%;
}
.guest{
	width: 100px;
	border-radius: 50%;
}
.profile-chef{
	position: absolute;
	top: -40px;
	left: -25px;
	filter: brightness(0.95);
}
.profile-time{
	display: grid;
	grid-template-columns: repeat(2, 395px);
	justify-content: center;
	gap: 32px;
	max-width: 850px;
	width: 100%;
	padding: 20px 0px;
}
.exit-btn{
	display: flex;
	align-items: center;
	gap: 10px;
	font-weight: 600;
	background-color: transparent;
	border: none;
	cursor: pointer;
	font-size: 18px;
}

@media (max-width: 875px){
	.profile-navigate{
		padding: 75px 20px;
	}
}