.home{
    position: relative;
    padding: 150px 120px;
    background-image: url('/back.png');
    background-repeat: no-repeat;
    background-position: right top;
}
.home-header{
    display: flex;
    gap: 200px;
    padding-bottom: 150px;
}
.home-title{
    max-width: 576px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.home-title b{
    color: var(--primary-hover-color);
}
.home-title h1{
    font-size: 64px;
}
.home-title p{
    font-size: 24px;
    color: var(--text-color);
}
.home-dish{
    position: relative;
}
.home-dish img{
    position: absolute;
}
.home-dish-info{
    position: absolute;
    z-index: 10;
    bottom: -50px;
    left: -150px;
    background-color: var(--white-color);
    width: 320px;
    padding: 10px;
    border-radius: 10px 10px 0px 0px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.home-dish-info h1{
    font-size: 24px;
    text-align: center;
}
.home-dish-info p{
    font-size: 16px;
}
.home-recipe{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 150px 0px;
}
.home-recipe-title{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.home-recipe b{
    color: var(--primary-hover-color);
}
.home-recipe h1{
    max-width: 724px;
    width: 100%;
    text-align: center;
    font-size: 48px;
}
.home-recipe p{
    font-size: 24px;
    text-align: center;
    color: var(--text-color);
}
.home-popular-recipe{
    padding: 150px 0px;
}
.home-popular-recipe h1{
    font-size: 40px;
    padding: 40px 0px;
}