.home{
    padding: 150px 120px;
    background-image: url('/back.png');
    background-repeat: no-repeat;
    background-position: right top;
}
.home-header{
    display: flex;
    justify-content: space-between;
    padding-bottom: 150px;
}
.home-title{
    max-width: 576px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.home-title b{
    color: var(--primary-hover-color);
}
.home-title h1{
    font-size: 64px;
}
.home-title p{
    font-size: 24px;
    color: var(--text-color);
}
.home-recipe{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 150px 0px;
}
.home-recipe-title{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.home-recipe b{
    color: var(--primary-hover-color);
}
.home-recipe h1{
    max-width: 724px;
    width: 100%;
    text-align: center;
    font-size: 48px;
}
.home-recipe p{
    font-size: 24px;
    text-align: center;
    color: var(--text-color);
}
.home-popular-recipe{
    padding: 150px 0px;
}
.home-popular-recipe h1{
    font-size: 40px;
    padding: 40px 0px;
}
.home-popular-category{
    padding: 112px 0px;
}
.home-popular-category h1{
    font-size: 40px;
    padding: 72px 0px;
}

@media (max-width: 1075px){
    .home{
        padding: 50px 20px;
    }
}
@media (max-width: 875px){
    .home{
        background-image: none;
    }
    .home-header{
        text-align: center;
        justify-content: center;
        padding: 100px 0px;
    }
    .home-title h1{
        font-size: 50px;
    }
    .home p{
        font-size: 18px;
    }
    .home .home-header img{
        display: none;
    }
    .home-recipe{
        padding: 0px;
    }
    .home-recipe img{
        width: 250px;
    }
    .home-recipe h1{
        font-size: 36px;
    }
    
}
@media (max-width: 450px){
    .home-popular-category h1{
        font-size: 32px;
        text-align: center;
    }
    .home-header{
        padding: 70px 0px;
    }
    .home-title h1{
        font-size: 36px;
    }
    .home-recipe{
        flex-direction: column;
        align-items: flex-end;
        gap: 20px;
    }
    .home-recipe img{
        border-radius: 8px 0px 0px 8px;
        width: 100%;
    }
    .home-recipe-title{
        gap: 20px;
    }
    .home-popular-recipe{
        padding: 70px 0px;
    }
    .home-popular-recipe h1{
        padding: 0;
    }
}
@media (max-width: 320px){
    .home h1{
        font-size: 30px;
    }
    .home-popular-category{
        padding: 0px;
    }
}