li{
	list-style-type: none;
}
.card{
	text-align: center;
	padding: 40px 0px;
}
.product-list{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 30px;
}
.product-list a{
	text-decoration: none;
	color: var(--black-color);
}
.product-card{
	max-width: 380px;
	height: 370px;
	width: 100%;
	background-color: var(--white-color);
	border-radius: 20px 20px 0px 0px;
}
.product-card p{
	padding: 10px 0px;
	font-size: 18px;
}
.product-image{
	width: 100%;
	border-radius: 20px 20px 0px 0px;
}
.product-info{
	padding: 0px 20px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	gap: 10px;
}
.product-info-time{
	padding: 0px 20px;
	display: flex;
	align-items: center;
	gap: 10px;
}
.product-info-price{
	padding: 0px 20px;
	display: flex;
	align-items: center;
	gap: 10px;
}