.navbar{
	display: flex;
	justify-content: space-between;
	gap: 15px;
	padding: 10px 20px;
	max-height: 100px;
	height: 100%;
	background-color: var(--white-color);
}
.header{
	display: flex;
	align-items: center;
	font-size: 32px;
}
.header b{
	color: var(--primary-hover-color);
}
.user{
	border-radius: 50%;
	max-width: 80px;
	max-height: 80px;
	width: 100%;
	height: 100%;
}
.menu{
	display: flex;
	gap: 25px;
}
.menu_user{
	display: flex;
}
.menu_dropdown{
	display: none;
}
.menu_tab{
	display: none;
}
.menu_dropdown_links{
	display: none;
}
.link{
	display: flex;
	align-items: center;
	gap: 10px;
	color: var(--text-color);
	text-decoration: none;
}

@media (max-width: 875px){
	.navbar{
		width: 100%;
		position: fixed;
		z-index: 999;
		align-items: center;
	}
	.menu{
        display: none;
    }
	.menu_dropdown{
		display: block;
	}
	.menu_dropdown_links{
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 20px;
		justify-content: center;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: var(--white-color);
	}
	.menu_tab{
		position: fixed;
		right: 0;
		top: 25px;
		z-index: 10;
        display: block;
		cursor: pointer;
    }
	.link{
		width: 200px;
		height: 50px;
		font-size: 24px;
		justify-content: space-between;
	}
}
@media (max-width: 450px){
	.header{
		font-size: 20px;
	}
	.menu_user{
		display: none;
	}
}