.touch{
    display: flex;
    flex-direction: column;
    gap: 45px;
    align-items: center;
    padding: 49px 0px;
    width: 100%;
    background-color: var(--input-border-color);
}
.touch h1{
    font-size: 40px;
}
.touch p{
    max-width: 790px;
    width: 100%;
    font-size: 32px;
    text-align: center;
    color: var(--text-secondary-color);
}
.touch-form{
    display: flex;
    gap: 24px;
}
.touch-form input{
    width: 600px;
    height: 54px;
    padding: 16px;
    border-radius: 10px;
    border: none;
    outline: none;
}
.touch-form button{
    width: 160px;
    height: 54px;
    border: none;
    font-size: 18px;
    border-radius: 10px;
    background-color: var(--primary-color);
    cursor: pointer;
    color: var(--white-color);
}