.card{
    margin: auto 5%;
}
.card-slide{
    min-height: 25rem;
    position: relative;
    overflow: hidden;
    padding: 20px 0px;
    border-radius: 20px;
    text-align: center;
}
.card-image{
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    filter: brightness(80%);
}
.card-title{
    position: absolute;
    left: 0;
    bottom: 5%;
    z-index: 10;
    text-align: center;
    color: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40%;
    font-size: 18px;
    font-weight: bold;
}
